<form [formGroup]="eventoForm" (ngSubmit)="onSubmit()">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" formControlName="nombre" maxlength="50">
  <div *ngIf="eventoForm.get('nombre')?.invalid && eventoForm.get('nombre')?.touched">
    <small *ngIf="eventoForm.get('nombre')?.errors?.['required']" style="color: red;">El nombre no puede estar en blanco.</small>
    <small *ngIf="eventoForm.get('nombre')?.errors?.['minlength']" style="color: red;">El nombre debe tener al menos 2 caracteres.</small>
    <small *ngIf="eventoForm.get('nombre')?.errors?.['maxlength']" style="color: red;">El nombre no puede tener más de 50 caracteres.</small>
  </div>

  <label for="descripcion">Descripción:</label>
  <textarea id="descripcion" formControlName="descripcion"></textarea>
  <div *ngIf="eventoForm.get('descripcion')?.invalid && eventoForm.get('descripcion')?.touched">
    <small *ngIf="eventoForm.get('descripcion')?.errors?.['required']" style="color: red;">La descripción no puede estar en blanco.</small>
  </div>

  <label for="fechaevento">Fecha y Hora:</label>
  <input type="datetime-local" id="fechaevento" formControlName="fechaevento" [min]="minDate">

  <label for="preciomin">Precio Mínimo:</label>
  <input type="number" id="preciomin" formControlName="preciomin" min="0">

  <label for="preciomax">Precio Máximo:</label>
  <input type="number" id="preciomax" formControlName="preciomax" min="0">

  <label for="genero">Género:</label>
  <input type="text" id="genero" formControlName="genero" maxlength="50">
  <div *ngIf="eventoForm.get('genero')?.invalid && eventoForm.get('genero')?.touched">
    <small *ngIf="eventoForm.get('genero')?.errors?.['required']" style="color: red;">El género no puede estar en blanco.</small>
    <small *ngIf="eventoForm.get('genero')?.errors?.['maxlength']" style="color: red;">El género no puede tener más de 50 caracteres.</small>
  </div>

  <label for="localidad">Localidad:</label>
  <input type="text" id="localidad" formControlName="localidad" maxlength="50">
  <div *ngIf="eventoForm.get('localidad')?.invalid && eventoForm.get('localidad')?.touched">
    <small *ngIf="eventoForm.get('localidad')?.errors?.['required']" style="color: red;">La localidad no puede estar en blanco.</small>
    <small *ngIf="eventoForm.get('localidad')?.errors?.['maxlength']" style="color: red;">La localidad no puede tener más de 50 caracteres.</small>
  </div>

  <div>
    <label for="activo">Activo:</label>
    <input type="checkbox" id="activo" formControlName="activo">
  </div>

  <button type="submit" [disabled]="eventoForm.invalid">Editar Evento</button>
</form>

<p *ngIf="mensaje">{{ mensaje }}</p>
<button (click)="irALista()">Salir</button>












  
  
  
  














  
  
  
  
