<div class="evento-container">
    <h2>Detalles de Evento</h2>
<h3>ID: {{ evento?.id }}</h3>
<h3>Nombre: {{ evento?.nombre }}</h3>
<h3>Descripción: {{ evento?.descripcion }}</h3>
<h3>Fecha: {{ evento?.fechaevento }}</h3>
<h3>Localidad: {{ evento?.localidad }}</h3>
<h3>Precio máximo: {{ evento?.preciomax }} €</h3>
<h3>Precio mínimo: {{ evento?.preciomin }} €</h3>
<h3>Género: {{ evento?.genero }}</h3>
<h3>Activo: {{ evento?.activo ? 'Sí' : 'No' }}</h3>
<button (click)="irALista()">Volver a lista</button>
</div>
  



  
  
