<form (ngSubmit)="onSubmit()" #eventoForm="ngForm">
  <h2>Crear evento</h2>
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" [(ngModel)]="evento.nombre" name="nombre" #nombre="ngModel" required minlength="2" maxlength="50">
  
  <div *ngIf="eventoForm.submitted && nombre.invalid">
    <small *ngIf="nombre.errors?.['required']" style="color: red;">El nombre no puede estar en blanco.</small>
    <small *ngIf="nombre.errors?.['minlength']" style="color: red;">El nombre debe tener al menos 2 caracteres.</small>
    <small *ngIf="nombre.errors?.['maxlength']" style="color: red;">El nombre no puede tener más de 50 caracteres.</small>
  </div>

  <label for="descripcion">Descripción:</label>
  <textarea id="descripcion" [(ngModel)]="evento.descripcion" name="descripcion" #descripcion="ngModel" required></textarea>
  
  <div *ngIf="eventoForm.submitted && descripcion.invalid">
    <small *ngIf="descripcion.errors?.['required']" style="color: red;">La descripción no puede estar en blanco.</small>
  </div>

  <label for="fechaevento">Fecha y Hora:</label>
  <input type="datetime-local" id="fechaevento" [(ngModel)]="evento.fechaevento" name="fechaevento" #fechaevento="ngModel" 
         required [min]="minDate"> 

  <label for="preciomin">Precio Mínimo:</label>
  <input type="number" id="preciomin" [(ngModel)]="evento.preciomin" name="preciomin" required min="0">

  <label for="preciomax">Precio Máximo:</label>
  <input type="number" id="preciomax" [(ngModel)]="evento.preciomax" name="preciomax" required min="0">

  <label for="genero">Género musical:</label>
  <input type="text" id="genero" [(ngModel)]="evento.genero" name="genero" #genero="ngModel" required maxlength="50">
  <div *ngIf="eventoForm.submitted && genero.invalid">
    <small *ngIf="genero.errors?.['required']" style="color: red;">El género no puede estar en blanco.</small>
    <small *ngIf="genero.errors?.['maxlength']" style="color: red;">El género no puede tener más de 50 caracteres.</small>
  </div>


  <label for="localidad">Localidad:</label>
  <input type="text" id="localidad" [(ngModel)]="evento.localidad" name="localidad" #localidad="ngModel" required maxlength="50" >

  <div *ngIf="eventoForm.submitted && localidad.invalid">
    <small *ngIf="localidad.errors?.['required']" style="color: red;">La localidad no puede estar en blanco.</small>
    <small *ngIf="localidad.errors?.['maxlength']" style="color: red;">La localidad no puede tener más de 50 caracteres.</small>
  </div>
  <div>
    <label for="activo" class="label-checkbox">Activo: </label>
    <input type="checkbox" id="activo" [(ngModel)]="evento.activo" name="activo">
  </div>

  <button type="submit" class="submit-button">Crear Evento</button>
</form>

<p *ngIf="mensaje">{{ mensaje }}</p>
<button (click)="irALista()" class="exit-button">Volver a la lista</button>

